logs
project/target
target
tmp
.history
nohup.out
dist
regal-default.ntriple
/.idea
/*.iml
/out
/.idea_modules
/RUNNING_PID
/.target
log
*.log
.cache
data
.settings
.classpath
.project
bin
conf/application.conf
scripts/variables.conf
*~
variables.conf
*.HIST
*.csv
*.csv.out
ks.postVersion.sh
